body {
    background-color: whitesmoke;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}
    
h1 {
    color: whitesmoke;
    text-align: left;
    margin-top: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 50pt;
}

h2 {
    color: #0a9396;
}

.navContainer {
    height: 50px;
    background-color: #e9d8a6;
    text-align: right;
    font-weight: bold;
    word-spacing: 10pt;
    padding-top: 20px;
    padding-right: 50px;
    width: 100%;
}
a {
    color: #ca6702;
    text-decoration: none;
}

a:hover {
    color: #005f73

}
.titleBar {
    border: solid #005f73;
    background-color: #005f73;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
}

.photos {
    text-align: center;
}

.homepics {
 display: flex;
}

.sagrada {
    flex: 30%;
    padding: 10px;
}

.delicate {
    width: 100%;
    padding: 10px;
}
.paragraph {
    color: #609e8a;
}

#games {
    font-weight: bold;
    text-decoration: underline;
}

form {
    border: black solid 1pt;
    padding: 10px;
    border: solid black;
    font-weight: 900px;
    border-radius: 5px;
    width: 500px;
  }

  button {
      background-color: #e9d8a6;
      border: #e9d8a6;
      color:#ca6702;
      font-size: 12pt;
      padding: 5px;
      border-radius: 5px;
      margin-top: 5px;
      transition-duration: 0.4s; 
  }
  
  button:hover {
      background-color: #d5b657;
  }